[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
psycopg2 = "*"
pandas = "*"
xhtml2pdf = "*"
django-environ = "*"
psycopg-binary = "*"
qrcode = "*"
django-leaflet = "*"
djangorestframework-gis = "*"

[dev-packages]

[requires]
python_version = "3.9"
